---
import { SquareArrowOutUpRight } from "lucide-react";
import { Gmail, LinkedIn, Github } from "../icons/Icons";

interface Props {
  name: string;
  href: string;
  card?: boolean;
  className?: string;
}

const { name, href, card, className } = Astro.props;
---

<a
  rel="noopener noreferrer"
  target="_blank"
  href={href}
  class={`
    flex items-center justify-center rounded-xl gap-2 hover:text-white transition-colors 
    ${
      card
        ? "py-2 px-4 min-w-20 text-sm bg-slate-800 border border-slate-800 hover:border-teal-300 text-white font-semibold"
        : "text-slate-400 py-1 px-2 text-sm font-regular"
    } 
    ${className}
  `}
>
  {name === "Contactame" && <Gmail />}
  {name === "LinkedIn" && <LinkedIn />}
  {name === "Github" && <Github />}
  {name === "Visitar" && <SquareArrowOutUpRight size={14} />}
  {name}
</a>
