<article
  class="border-s-2 border-unst py-4 px-3 flex items-start gap-10 text-white"
>
  <div class="flex flex-col gap-4 min-w-64 ps-6">
    <header>
      <h3 class="jost text-unst font-semibold text-[21px]">
        Fullstack Developer
      </h3>
      <strong class="font-medium">MentorU</strong>
    </header>
    <time class="text-parrafo text-sm font-normal">Oct. 23 - Actualidad</time>
  </div>
  <p class="font-medium text-[15px] text-parrafo max-w-96 text-pretty">
    Responsable de la creacion y mantenimiento de la API gateway en AWS
    integrando servicios como Lambda, SQS, RDS aplicando lenguajes como NodeJS y
    Python. También asegurando el funcionamiento y desarrollo integro de la
    interfaz en NextJS.
  </p>
</article>
