<header class="z-50">
  <div class="flex flex-col gap-6 md:gap-8 max-w-[500px]">
    <h1 class="jost font-semibold text-5xl text-white">Pablo Oyarce R.</h1>
    <p class="text-md text-balance [&>strong]:text-teal-300">
      Desarrollador <strong>Frontend</strong> y entusiasta del diseño y experiencia
      de <strong>interfaces</strong>, especializado
      <strong>aplicaciones web</strong> y sitios interactivos.
    </p>
  </div>
</header>
