<nav>
  <ul
    class="hidden lg:flex flex-col gap-4 [&>li]:py-1 [&>li]:w-fit [&>li]:max-w-[100px] [&>li]:text-slate-400"
  >
    <li>
      <a href="#experiencia">Experiencia</a>
    </li>
    <li>
      <a href="#proyectos">Proyectos</a>
    </li>
    <li>
      <a href="#sobre-mi">Sobre mí</a>
    </li>
    <li>
      <a href="#tecnologias">Tecnologías</a>
    </li>
  </ul>
</nav>

<style>
  li {
    transition: color 0.3s;
  }

  li:hover {
    color: white;
  }

  li::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    margin-top: 10px;
    background-color: white;
    transition: width 0.3s;
  }

  li:hover::after {
    width: 100%;
  }
</style>
