<div class="flex flex-col gap-6">
  <article class="flex gap-4">
    <div class="flex flex-col justify-between">
      <header class="flex flex-col gap-2">
        <h3 class="jost text-unst font-semibold text-[21px]">
          TeaChill - Shopify headless Ecommerce
        </h3>
        <div class="flex items-center justify-between">
          <div aria-label="Tecnologias usadas"></div>
        </div>
      </header>
    </div>
  </article>
</div>
