---
import {
  AmazonWebServices,
  Astro as AstroIcon,
  Bootstrap,
  CSS,
  Express,
  HTML5,
  Nextjs,
  Php,
  Nodejs,
  TailwindCSS,
  TypeScript,
  React,
  PostgreSQL,
  WordPress,
  Figma,
} from "../icons/Icons";
import Title from "./Title.astro";
---

<Title>
  <span slot="icon">游댢</span>
  <span slot="text">Tecnolog칤as</span>
</Title>
<div class="grid grid-cols-3 md:grid-cols-4 grid-rows-3 gap-6">
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://www.typescriptlang.org/"
    aria-label="Logo de Typescript que te llevar치 a la p치gina oficial de Typescript"
    class="reveal tag relative p-2 rounded-xl col-span-1 hover:text-white row-span-1 flex flex-col items-center gap-4"
  >
    <TypeScript width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">TypeScript</strong
    >
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://react.dev/"
    aria-label="Logo de React que te llevar치 a la p치gina oficial de React"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <React width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">React</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://nextjs.org/"
    aria-label="Logo de NextJS que te llevar치 a la p치gina oficial de NextJS"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Nextjs width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">NextJS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://nodejs.org/en"
    aria-label="Logo de NodeJS que te llevar치 a la p치gina oficial de NodeJS"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Nodejs width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">NodeJS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://astro.build/"
    aria-label="Logo de Astro que te llevar치 a la p치gina oficial de Astro"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <AstroIcon width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">Astro</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://dev.w3.org/html5/spec-LC/"
    aria-label="Logo de HTML5 que te llevar치 a la p치gina oficial de HTML5"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <HTML5 width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">HTML</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://wordpress.org/"
    aria-label="Logo de Wordpress que te llevar치 a la p치gina oficial de Wordpress"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <WordPress width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">Wordpress</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://www.php.net/"
    aria-label="Logo de PHP que te llevar치 a la p치gina oficial de PHP"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Php width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">php</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://www.postgresql.org/"
    aria-label="Logo de PostgreSQL que te llevar치 a la p치gina oficial de PostgreSQL"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <PostgreSQL width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">PostgreSQL</strong
    >
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://expressjs.com/es/"
    aria-label="Logo de ExpressJS que te llevar치 a la p치gina oficial de ExpressJS"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Express width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">ExpressJS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://www.figma.com/"
    aria-label="Logo de Figma que te llevar치 a la p치gina oficial de Figma"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Figma width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">Figma</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://developer.mozilla.org/es/docs/Web/CSS"
    aria-label="Logo de CSS que te llevar치 a la p치gina oficial de CSS"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <CSS width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">CSS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://aws.amazon.com/es/"
    aria-label="Logo de AWS que te llevar치 a la p치gina oficial de AWS"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <AmazonWebServices width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">AWS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://tailwindcss.com/"
    aria-label="Logo de TailwindCSS que te llevar치 a la p치gina oficial de TailwindCSS"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <TailwindCSS width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">Tailwind</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://getbootstrap.com/"
    aria-label="Logo de Bootstrap que te llevar치 a la p치gina oficial de Bootstrap"
    class="reveal tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Bootstrap width="28px" height="28px" />
    <strong class="jost text-base text-slate-300 font-medium">Bootstrap</strong>
  </a>
</div>
<div class="mt-28 p-5 w-full min-h-5 bg-transparent"></div>

<style>
  .tag::before {
    content: "";
    opacity: 0;
    background: linear-gradient(#19244f 0%, #0000);
    height: 50%;
    transition:
      opacity 0.2s ease-in-out,
      height 0.2s ease-in-out;
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .tag:hover::before {
    opacity: 1;
    height: 100%;
  }
</style>
