---
import {
  AmazonWebServices,
  Astro as AstroIcon,
  Bootstrap,
  CSS,
  Express,
  HTML5,
  Nextjs,
  Php,
  Nodejs,
  TailwindCSS,
  TypeScript,
  React,
  PostgreSQL,
  WordPress,
  Figma,
} from "../icons/Icons";
---

<div class="grid grid-cols-4 md:grid-cols-6 grid-rows-3 gap-4 md:gap-10">
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://www.typescriptlang.org/"
    aria-label="Logo de Typescript que te llevará a la página oficial de Typescript"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <TypeScript width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">TypeScript</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://react.dev/"
    aria-label="Logo de React que te llevará a la página oficial de React"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <React width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">React</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://nextjs.org/"
    aria-label="Logo de NextJS que te llevará a la página oficial de NextJS"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Nextjs width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">NextJS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://nodejs.org/en"
    aria-label="Logo de NodeJS que te llevará a la página oficial de NodeJS"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Nodejs width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">NodeJS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://astro.build/"
    aria-label="Logo de Astro que te llevará a la página oficial de Astro"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <AstroIcon width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">Astro</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://dev.w3.org/html5/spec-LC/"
    aria-label="Logo de HTML5 que te llevará a la página oficial de HTML5"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <HTML5 width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">HTML</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://wordpress.org/"
    aria-label="Logo de Wordpress que te llevará a la página oficial de Wordpress"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <WordPress width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">Wordpress</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://www.php.net/"
    aria-label="Logo de PHP que te llevará a la página oficial de PHP"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Php width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">php</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://www.postgresql.org/"
    aria-label="Logo de PostgreSQL que te llevará a la página oficial de PostgreSQL"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <PostgreSQL width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">PostgreSQL</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://expressjs.com/es/"
    aria-label="Logo de ExpressJS que te llevará a la página oficial de ExpressJS"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Express width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">ExpressJS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://www.figma.com/"
    aria-label="Logo de Figma que te llevará a la página oficial de Figma"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Figma width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">Figma</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://developer.mozilla.org/es/docs/Web/CSS"
    aria-label="Logo de CSS que te llevará a la página oficial de CSS"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <CSS width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">CSS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://aws.amazon.com/es/"
    aria-label="Logo de AWS que te llevará a la página oficial de AWS"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <AmazonWebServices width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">AWS</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://tailwindcss.com/"
    aria-label="Logo de TailwindCSS que te llevará a la página oficial de TailwindCSS"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <TailwindCSS width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">Tailwind</strong>
  </a>
  <a
    rel="noopener noreferrer"
    target="_blank"
    href="https://getbootstrap.com/"
    aria-label="Logo de Bootstrap que te llevará a la página oficial de Bootstrap"
    class="tag relative p-2 rounded-xl overflow-hidden col-span-1 row-span-1 flex flex-col items-center gap-4"
  >
    <Bootstrap width="35px" height="35px" />
    <strong class="jost text-lg text-white font-medium">Bootstrap</strong>
  </a>
</div>

<style>
  .tag::before {
    content: "";
    opacity: 0;
    background: linear-gradient(#19244f 0%, #0000);
    height: 50%;
    transition:
      opacity 0.2s ease-in-out,
      height 0.2s ease-in-out;
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .tag:hover::before {
    opacity: 1;
    height: 100%;
  }
</style>
