---
import "@fontsource-variable/jost";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Pablo Oyarce Desarrollador Frontend, abierto a trabajar en sitios web y aplicaciones interactivas"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative">
		<!-- <div
			class="absolute top-0 bottom-0 z-0 min-h-screen w-full bg-[radial-gradient(ellipse_35%_20%_at_0%_0%,rgba(29, 78, 216, 0.55),rgba(29, 78, 216, 0.15))]"
		>
		</div> -->
		<div
			id="trailer"
			class="pointer-events-none fixed inset-0 -z-30 duration-300"
			style="background: radial-gradient(600px at 1000px 500px, rgba(29, 78, 216, 0.15), transparent 80%);"
		>
		</div>
		<div
			class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0 z-50"
		>
			<slot />
		</div>
		<footer class="bg-chip p-4 w-full">
			<div
				class="container flex justify-between items-center bg-chip p-4 w-full"
			>
				<small class="text-parrafo/30">™2024</small>
				<div class="flex items-center gap-10">
					<a
						aria-label="Contactar a Pablo Oyarce por correo electronico"
						class="text-parrafo/30 text-xs hover:underline underline-offset-4"
						href="mailto:pablooyarceramirez@gmail.com?Subject=Trabajemos juntos en algo increible"
						>Correo</a
					>
					<a
						aria-label="Visitar el perfil de LinkedIn de Pablo Oyarce"
						class="text-parrafo/30 text-xs hover:underline underline-offset-4"
						href="https://www.linkedin.com/in/pablo-oyarce-ramirez/">LinkedIn</a
					>
				</div>
			</div>
		</footer>
	</body>
</html>

<script>
	const trailer = document.getElementById("trailer");

	window.onmousemove = (e) => {
		const x = e.clientX - trailer!.offsetWidth / 2;
		const y = e.clientY - trailer!.offsetHeight / 2;

		trailer!.style.transform = `translate(${x}px, ${y}px)`;
	};
</script>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		scroll-behavior: smooth;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	body {
		overflow-x: hidden;
		width: 100%;
		min-height: 100vh;
	}
	.jost {
		font-family: "Jost Variable", sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
